development/pretrain_models/*
development/dataset/*
development/output/*
deployment/*.iml
deployment/.gradle
deployment/local.properties
deployment/.idea/caches
deployment/.idea/libraries
deployment/.idea/modules.xml
deployment/.idea/workspace.xml
deployment/.idea/navEditor.xml
deployment/.idea/assetWizardSettings.xml
deployment/.DS_Store
deployment/build
deployment/captures
deployment/.externalNativeBuild
