development/dataset/*
development/output/*
deployment/Java_app/*.iml
deployment/Java_app/.gradle
deployment/Java_app/local.properties
deployment/Java_app/.idea
deployment/Java_app/.DS_Store
deployment/Java_app/build
deployment/Java_app/captures
deployment/Java_app/.externalNativeBuild
deployment/Native_app/.gradle
deployment/Native_app/.idea
deployment/Native_app/app/build
deployment/Native_app/app/cache
deployment/Native_app/app/.cxx
deployment/Native_app/app/OpenCV/*
deployment/Native_app/app/PaddleLite/*
